.to-do {
  width: 45%;
}

.to-do button {
  display: none;
};

.to-do:hover button {
  display: inline-block;
};

.to-do:hover i {
  display: none;
}

.to-do i {
  display: inline-block;
};


body, html {
  font-family: 'Playfair Display', sans-serif;
}






