.to-do {
  width: 40%;
  transition-duration: 0.3s;
}

.to-do:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.to-do button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
};

.to-do:hover button {
  visibility: visible;
  opacity: 1;
};

.to-do:hover i {
  opacity: 0;
  transition-duration: 0.4s;
}

.to-do i {
  opacity: 1;
};


body, html {
  font-family: 'Playfair Display', sans-serif;
}

#icon {
  border-bottom: 2px black solid;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 700;
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}




