#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;

  .sidebar-heading {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  };

  .list-group {
    width: 25rem;
    cursor: pointer;
    .hideIcon-sidebar {
      display: none;
    }
  }

  .sidebar-button {
    border: none;
    background: transparent;
  }

}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -22rem;
  }
}

.welcome {
  text-align: center;
}

.avatar-username {
  margin: 1rem auto;
}

.list-group-item-action:hover {
  transform: scale(1.1);
  transform-origin: left;
  background-color: rgb(65, 78, 188);
  color: whitesmoke;
  transition-duration: 0.4s;
  .sidebar-button {
    color: white;
  }
}
