#searchbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(113, 112, 109, 0.5);
  display: none;
    .searchbar{
      margin: auto;
      margin-top: 20vh;
      background-color: #353b48;
      border-radius: 2rem;
      padding: 0.5rem;
      }

      .search_input{
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      caret-color:transparent;
      line-height: 2.2rem;
      padding: 0 1rem;
      width: 30vw;
      caret-color:rgb(255, 39, 72);
      transition: width 0.4s linear;
      }

      .search_icon{
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: white;
      color: #e74c3c;
      }
      .heart{
        position: absolute;
        // color: rgb(238, 21, 62);
        font-size: 1rem;
        animation: fly 4s ease-in-out infinite;
        transition: 2s;
        @keyframes fly{
          0%{
              transform: scale(0.8) translateY(0);
              opacity: 0.5;
              margin-bottom: 0;
          }
          30%{
              transform: scale(1.1) translatey(-20%);
              margin-bottom: 1rem;
              opacity: 0.5;
          }
          50%{
              transform: scale(1.2) translateY(-30%);
              margin-bottom: 2rem;
              opacity: 0.7;
          }
          100%{
              transform: scale(2) translateY(-50%);
              margin-bottom: 3rem;
              opacity: 0;
          }
      }
    }
}
