<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>
<!--sidebar-->
<div class="d-flex" id="wrapper">
  <div class="border-right bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading">Welcome <span> <strong>FirstName</strong></span>
    </div>
    <div class="list-group list-group-flush d-flex flex-column">
      <figure>
        <img src="https://picsum.photos/id/525/50" class="rounded-circle mx-auto">
        <figcaption>@UserName</figcaption>
      </figure>
      <a href="#" class="list-group-item list-group-item-action border-0 d-flex">
        <h6 class="mr-auto">DASHBOARD</h6>
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a href="#" class="list-group-item list-group-item-action border-0 d-flex">
        <h6 class="mr-auto">EAT</h6>
        <i class="fa fa-cutlery" aria-hidden="true"></i>
      </a>
      <a href="#" class="list-group-item list-group-item-action border-0 d-flex">
        <h6 class="mr-auto">READ</h6>
        <i class="fa fa-book" aria-hidden="true"></i>
      </a>
      <a href="#" class="list-group-item list-group-item-action border-0 d-flex">
        <h6 class="mr-auto">WATCH</h6>
        <i class="fa fa-film" aria-hidden="true"></i>
      </a>
      <a href="#" class="list-group-item list-group-item-action border-0 d-flex">
        <h6 class="mr-auto">BUY</h6>
        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
      </a>
      <form method="POST" action="/logout" class="list-group-item list-group-item-action border-0 d-flex mt-5">
        <input type="submit" value="Logout" class="mr-auto"></input>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </form>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- topbar-->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <button class="btn btn-danger text-light" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i>
        TADA!</button>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="btn text-light" id="addButton"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
        </li>
        <li class="nav-item">
          <a class="btn text-light" href="#">Complete task</a>
        </li>
      </ul>
    </nav>

    <% for (let todo of results) { %>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="mr-auto"><%= todo.category %></strong>
        <small class="text-muted">11 mins ago</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        <%= todo.description %>
      </div>
    </div>
    <% } %>
  </div>

  <body>

    <div id="searchbox">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="../scripts/functions.js"></script>
  </body>

</html>
